Package: com.huhansibuxin.notifsdonthide
Name: NotifsDontHide
Version: 1.0.39
Architecture: iphoneos-arm64
Description: Notifications never hide in Notification Center.
Maintainer: huhansibuxin
Author: huhansibuxin
Section: Tweaks
Depends: ellekit